{ config
, lib
, pkgs
, ...
}:

{

  time.timeZone = "Etc/UTC";

  users.primaryUser = "your-username";

  #For games and stuff
  users.createPlaygroundUser = false;

  modules.enableFlatpak = false;

  modules.enableElixirDevShell = false;
  
  modules.enableRustDevShell = false;

  modules.enableDotNetDevShell = false;

  services.enableMullvad = false;

  modules.enablePodman = false;
}
